{% extends "base.html" %}
{% block content %}
  <!-- <div class="p-3 mb-2 bg-info text-secondary">
<div class="p-3 mb-2 bg-secondary text-info" > -->
  <div class="p-3 mb-2 bg-secondary text-info" >
    <div style="position: relative;
  text-align: center;
  color: white;">
<img src="https://thumbs.dreamstime.com/b/matrix-background-style-computer-virus-hacker-screen-wallpa-matrix-background-style-computer-virus-hacker-screen-wallpaper-119989759.jpg"  style="width:100%;height: 485px;opacity:0.15">

    <h1 ><div style="font-family: Lucida Console, Courier, monospace;
      position: absolute;
   top: 8px;
   left: 16px;">
   <br><u>PASSWORD MANAGER AND STRENGTH PREDICTOR</u></div></h1>
      <div style="color:#5EF0F8;  font-family: Palatino Linotype;
      position: absolute;
     top: 100px;
     left: 16px;">

  <h4><br><br><br>  &nbsp&nbsp&nbsp* A website that manages your accounts and their passwords safely.
      <br><br>  &nbsp* Also provides an option to find the strength of a given password.</h4>
      </div>
</div>
    </div>
  </div>
 </div>

{% endblock %}
