{% extends "base.html" %}
{% block content %}
<!-- <div class="jumbotron text-dark"> -->
  <div class="p-3 mb-2 bg-secondary text-info" >
       <div class="p-3 mb-2 bg-light text-info" >
  <h1><u>INFORMATION ABOUT THE WEBSITE:</u></h1>
  <div style="color:#5C6464;font-family:Helvetica">
  <h5><br><br>AN EASY TO USE PASSWORD MANAGER THAT ALSO HELPS IN NOTIFYING THE USER ABOUT ITS STRENGTH.<br><br>
    --> A website that gives the user a platform to store and manage various passwords of various  accounts.<br>
    --> Gives the user the option to find the strength of a particular password using a machine learning  software.<br>
    --> Multiple users can access the website and an account is needed to login.<br>
    --> Register to create an account.<br><br><br><br><br><br><br><br><br>
  </h5></div>
</div>

{% endblock %}
